<router-outlet>
  <app-time></app-time>

  <div class="container">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <div class="dashboard">
      <div><p>Доступные вам услуги</p>
        <div class="item">

          <div class="accService">
            Наименование услуги fsdjkhfbhdjsafghjasgfhkjasfgsdhajfgdshj
            fsdfsdf
          </div>
          <div class="accService">
            Наименование услуги
          </div>
          <div class="accService">
            Наименование услуги
          </div>
          <div class="accService">
            Наименование услуги
          </div>
          <div class="accService">
            Наименование услуги
          </div>
          <div class="accService">
            Наименование услуги
          </div>
          <div class="accService">
            Наименование услуги
          </div>
        </div>

      </div>
      <div class="divider"></div>
      <div><p>Выбранные Вами услуги</p>
        <div class="item">
          <div class="secService">
            Выбранная услуга 1
          </div>
        </div>
      </div>
    </div>
      <div class="button-group">
        <div class="button-center">
          <div type="button" class="btn btn-secondary">На главную</div>
          <div type="submit" class="btn btn-primary">Продолжить</div>
        </div>
      </div>
    </div>



</router-outlet>
