
  <app-time></app-time>
  <div class="container">
    <div class="header">
      <h2 style="font-size: 4rem">Готово! Вы в очереди</h2>
    </div>
    <div class="dashboard2">
      <div class="item">
        <div class="code">A555</div>
        <p>Это Ваш код. Запомните его и отслеживайте позицию на табло в зале"</p>
      </div>
      <div class="item">

        <div class="qr-code"><qrcode qrdata="qrUrl"  id="myCanvas" [width]="512"></qrcode></div>
        <p>Или отсканируйте QR-код и отслеживайте позицию в очереди</p>
      </div>
    </div>
    <div class="button-group">
      <div type="submit" class="btn btn-primary" (click)="navigateToGreeting()">На главную</div>
    </div>
    <div class="footer">
      <p>Настраиваемая надпись</p>
    </div>
  </div>
