
  <app-time></app-time>

  <div class="container">
    <div class="header">
      <h2>{{ title }}</h2>
    </div>
    <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <div class="forms">
        <div class="form-column">
          <div class="form-group">
            <label for="fullName">Ваше ФИО *</label>
            <input type="text" id="fullName" formControlName="fullName" class="form-control">
          </div>

          <div class="form-group">
            <label for="applicantCategory">Категория заявителя *</label>
            <select id="applicantCategory" formControlName="applicantCategory" class="form-control">
              <option *ngFor="let category of cats" [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-column">
          <div class="form-group">
            <label for="documentType">Выберите тип подтверждающего документа *</label>
            <select id="documentType" formControlName="documentType" class="form-control">
              <option *ngFor="let type of docs" [value]="type.id">{{ type.label }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="documentNumber">Регистрационный номер подтверждающего документа *</label>
            <input type="text" id="documentNumber" formControlName="documentNumber" class="form-control">
          </div>
        </div>
      </div>
      <div class="attention">
        <p>
          {{ attentionText }}
        </p>
      </div>
      <div class="form-check">
        <input type="checkbox" id="consent" formControlName="consent" class="form-check-input">
        <label class="form-check-label" for="consent">Даю согласие на обработку персональных данных</label>
      </div>

      <div class="button-group">
        <div class="button-center">
          <div type="button" class="btn btn-secondary" (click)="toHome()">На главную</div>
          <div type="submit" class="btn btn-primary" (click)="onSubmit()">Продолжить</div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <p>{{ footerText }}</p>
  </div>